{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block extra_css %}
<style>
    .tab:hover .tab-text {
      color: #4fd1c5; /* Change color on hover */
    }
  
    .tab.active .tab-text {
      color: #4fd1c5; /* Active tab color */
    }
  
    .tab:not(.active) .tab-text {
      color: #999; /* Inactive tab color */
    }
  </style>
  
{% endblock extra_css %}

{% block content %}

<!-- Layout for large screens -->
<section class="hidden md:block px-4 px-0 py-8 py-12">
  <div class="flex flex-col justify-start items-center">
    <!-- Title -->
    <div class="px-2.5 pb-5">
      <div class="text-center text-zinc-700 text-5xl font-normal font-serif">
        {% if page.heading %}{{page.heading}}{% else %}About Scipio Holding{% endif %}
      </div>
    </div>
    <!-- Tabbar -->
    <div class="w-full flex flex-wrap justify-between items-center">
      <!-- Tab One - Our Story -->
      <div
        class="tab flex-grow h-14 py-2.5 justify-center items-center flex active"
        data-tab="tab-one"
      >
        <div class="text-center tab-text text-sm font-medium uppercase">
          {% if page.tab_one_title %}{{page.tab_one_title}}{% else %}OUR STORY{% endif %}
        </div>
      </div>
      <!-- Separator -->
      <!-- <div class="w-px h-14 border border-gray-400"></div> -->
      <!-- Tab 2 - Our Team -->
      <div
        class="tab flex-grow h-14 py-2.5 justify-center items-center flex"
        data-tab="tab-two"
      >
        <div class="text-center tab-text text-sm font-medium uppercase">
            {% if page.tab_two_title %}{{page.tab_two_title}}{% else %}OUR TEAM{% endif %}
        </div>
      </div>
      <!-- Separator -->
      <!-- <div class="w-px h-14 border border-gray-400"></div> -->
      <!-- Tab - Our Advisors -->
      <div
        class="tab flex-grow h-14 py-2.5 justify-center items-center flex"
        data-tab="tab-three"
      >
        <div class="text-center tab-text text-sm font-medium uppercase">
            {% if page.tab_three_title %}{{page.tab_three_title}}{% else %}OUR ADVISORS{% endif %}
        </div>
      </div>
    </div>

    <!-- Content -->
    <div class="pt-12 px-2 flex justify-center items-start gap-12">
      <div class="container flex justify-start items-start gap-6">
        <!-- Text - Story -->
        <div
          class="tab-content w-full font-serif"
          id="tab-one-content"
        >
          <!-- Content for Our Story tab -->
          <div class="flex justify-between items-start">
            <span class="w-1/2">
                {{page.body}}
            </span>
            <div class="w-1/2 pl-6">
        {% image page.image original as about_image %}
                {% if about_image %}
                <img
                class="w-full h-auto"
                src="{{about_image.url}}"
                alt="Placeholder Image"
              />
                {% else %}
                <img
                class="w-full h-auto"
                src="{% static 'assets/img/our-story-image.png' %}"
                alt="Placeholder Image"
              />                
                {% endif %}

            </div>
          </div>
        </div>
        <!-- Description - Team -->
        <div class="tab-content hidden w-full" id="tab-two-content">
          <div class="grid grid-cols-1 grid-cols-4 gap-2">
            <!-- Card 1 -->
            {% for member in page.team_members %}
            {% image member.image original as member_image %}
            <div class="bg-light p-4">
              <div class="flex flex-col items-center">
                <img
                  src="{{member_image.url}}"
                  alt="Avatar"
                  class="w-60 h-60 rounded-full"
                />
                <div class="mt-4 text-left">
                  <p class="font-bold uppercase" style="color: #A88752;">{{member}}</p>
                  <p class="text-black-300">{{member.job_title}}</p>
                </div>
                <div class="mt-4">
                    <a href="{{member.linkedin_url}}">
                        <img src="{% static 'assets/img/icons/linkedin.svg'  %}" alt="">
                    </a>
                </div>
              </div>
              <hr class="mt-4 border-t-4" style="color: #A88752;" />
            </div>
            {% endfor %}
          </div>
          <button
            class="flex mx-auto bg-blue-100 border mt-3 font-medium text-md text-blue-500 px-2 py-2 ring-1 ring-bg-blue-200"
          >
            LOAD MORE
          </button>
        </div>

        <!-- Description - Advisors -->
        <div
          class="tab-content hidden w-full text-stone-500 text-lg font-normal font-serif"
          id="tab-three-content"
        >
        <div class="grid grid-cols-1 grid-cols-4 gap-2">
            <!-- Card 1 -->
            {% for member in page.advisors %}
            {% image member.image original as member_image %}
            <div class="bg-light p-4">
              <div class="flex flex-col items-center">
                <img
                  src="{{member_image.url}}"
                  alt="Avatar"
                  class="w-60 h-60 rounded-full"
                />
                <div class="mt-4 text-left">
                  <p class="font-bold uppercase" style="color: #A88752;">{{member}} 
                    <span class="fi fi-{{member.country.code|lower}} fis"></span>
                  </p>
                  <p class="text-black-300">{{member.role}}</p>
                </div>
                <div class="mt-4">
                    <a href="{{member.linkedin_url}}">
                        <img src="{% static 'assets/img/icons/linkedin.svg'  %}" alt="">
                    </a>
                </div>
              </div>
              <hr class="mt-4 border-t-4" style="color: #A88752;" />
            </div>
            {% endfor %}
          </div>

        <button
            class="flex mx-auto bg-blue-100 border mt-3 font-medium text-md text-blue-500 px-2 py-2 ring-1 ring-bg-blue-200"
          >
            LOAD MORE
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="md:hidden pt-4">
  <!-- Title -->
  <div class="px-2.5 pb-5">
    <div class="text-center text-zinc-700 text-4xl font-normal font-serif">
      {% if page.heading %}{{page.heading}}{% else %}About Scipio Holding{% endif %}
    </div>
  </div>

  <div class="mx-auto p-2">
    <details class="open:bg-white dark:open:bg-slate-900 p-6" open>
      <summary
        class="text-sm leading-6 text-slate-900 dark:text-white font-semibold select-none"
      >
      {% if page.tab_one_title %}{{page.tab_one_title}}{% else %}OUR STORY{% endif %}
    </summary>
    <div class="mt-3">
      {{page.body}}
    </div>
    </details>
    <details class="open:bg-white dark:open:bg-slate-900 p-6" open>
      <summary
        class="text-sm leading-6 text-slate-900 dark:text-white font-semibold select-none"
      >
      {% if page.tab_two_title %}{{page.tab_two_title}}{% else %}OUR TEAM{% endif %}
      </summary>
      <div class="mt-3">
        <div class="grid grid-cols-1 grid-cols-2 gap-2">
          <!-- Card 1 -->
          {% for member in page.team_members %}
          {% image member.image original as member_image %}
              <div class="bg-light p-4">
                  <div class="flex flex-col items-center">
                    <img
                      src="{{member_image.url}}"
                      alt="Avatar"
                      class="w-60 h-60 rounded-full"
                    />
                    <div class="mt-4 text-left">
                      <p class="font-bold uppercase" style="color: #A88752;">{{member}} 
                        <span class="fi fi-{{member.country.code|lower}} fis"></span>
                      </p>
                      <p class="text-black-300">{{member.job_title}}</p>
                    </div>
                    <div class="mt-4">
                        <a href="{{member.linkedin_url}}">
                            <img src="{% static 'assets/img/icons/linkedin.svg'  %}" alt="">
                        </a>
                    </div>
                  </div>
                  <hr class="mt-4 border-t-4" style="color: #A88752;" />
                </div>      

{% endfor %}
        </div>
    </div>
    </details>

    <details class="open:bg-white dark:open:bg-slate-900 p-6" open>
      <summary
        class="text-sm leading-6 text-slate-900 dark:text-white font-semibold select-none"
      >
      {% if page.tab_two_title %}{{page.tab_two_title}}{% else %}OUR ADVISORS{% endif %}
      </summary>
      <div class="mt-3">
        <div class="grid grid-cols-1 grid-cols-2 gap-2">
          <!-- Card 1 -->
          {% for member in page.advisors %}
          {% image member.image original as member_image %}
              <div class="bg-light p-4">
                  <div class="flex flex-col items-center">
                    <img
                      src="{{member_image.url}}"
                      alt="Avatar"
                      class="w-60 h-60 rounded-full"
                    />
                    <div class="mt-4 text-left">
                      <p class="font-bold uppercase" style="color: #A88752;">{{member}} 
                        <span class="fi fi-{{member.country.code|lower}} fis"></span>
                      </p>
                      <p class="text-black-300">{{member.role}}</p>
                    </div>
                    <div class="mt-4">
                        <a href="{{member.linkedin_url}}">
                            <img src="{% static 'assets/img/icons/linkedin.svg'  %}" alt="">
                        </a>
                    </div>
                  </div>
                  <hr class="mt-4 border-t-4" style="color: #A88752;" />
                </div>      

{% endfor %}
        </div>
    </div>
    </details>

  </div>
</section>

<script>
  // Get all tabs and tab contents
  const tabs = document.querySelectorAll(".tab");
  const tabContents = document.querySelectorAll(".tab-content");

  // Add click event listener to each tab
  tabs.forEach((tab) => {
    tab.addEventListener("click", () => {
      // Remove active class from all tabs
      tabs.forEach((tab) => {
        tab.classList.remove("active");
      });

      // Add active class to the clicked tab
      tab.classList.add("active");

      // Hide all tab contents
      tabContents.forEach((content) => {
        content.classList.add("hidden");
      });

      // Show the corresponding tab content
      const tabId = tab.getAttribute("data-tab");
      document.getElementById(`${tabId}-content`).classList.remove("hidden");
    });
  });
</script>


{% endblock content %}


{% block footer %}
{% include "includes/footer.html" %}
{% endblock footer %}
