{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block breadcrumbs %}
<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <ol>
        <li><a href="/">Home</a></li>
        <li>Contact</li>
        <li>Success</li>
        </ol>

    </div>
</section>
<!-- End Breadcrumbs -->
{% endblock breadcrumbs %}


{% block content %}

    <section id="about" class="about">
        <div class="container">
  
          <div class="section-title">
            <h2>Success</h2>
            <h3>Thank you for <span>Contacting Us</span></h3>
            <p>We'll get back to you shortly</p>
          </div>
        </div>
      </section>
<!-- End About Section -->
  
{% endblock content %}