<!-- ======= Portfolio Section ======= -->
<section id="aboutx" class="aboutx">
    <div class="container">
        <div class="section-title">
            <h2>{% if title %}{{title}}{% else %}About{% endif %}</h2>
            
            {% if heading %} <h3>{{heading}}</h3> {% else %} <h3>About Scipio Holding </h3> {% endif %}
      
            {% if subheading %}
              <p>{{subheading}}</p>
              {% else %}
             <p>About Scipio Holding Investment Company</p> 
            {% endif %}
          </div>
        
      <div class="row">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="aboutx-flters">
            <li data-filter="*" class="filter-active">OUR STORY</li>
            <li data-filter=".filter-app">OUR TEAM</li>
            <li data-filter=".filter-card">OUR ADVISORS</li>
          </ul>
        </div>
      </div>
  
      <div class="row aboutx-container">
        <div class="col-lg-4 col-md-6 aboutx-item filter-app">
            <div class="member">
                <div class="member-img">
                  <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="" />
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4>Walter White</h4>
                  <span>Chief Executive Officer</span>
                </div>
              </div>
                <div class="aboutx-info">
            <h4>App 1</h4>
            <p>App</p>
            <a
              href="assets/img/aboutx/aboutx-1.jpg"
              data-gallery="aboutxGallery"
              class="aboutx-lightbox preview-link"
              title="App 1"
              ><i class="bx bx-plus"></i
            ></a>
            <a
              href="aboutx-details.html"
              class="details-link"
              title="More Details"
              ><i class="bx bx-link"></i
            ></a>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 aboutx-item filter-web">
          <img
            src="assets/img/aboutx/aboutx-2.jpg"
            class="img-fluid"
            alt=""
          />
          <div class="aboutx-info">
            <h4>Web 3</h4>
            <p>Web</p>
            <a
              href="assets/img/aboutx/aboutx-2.jpg"
              data-gallery="aboutxGallery"
              class="aboutx-lightbox preview-link"
              title="Web 3"
              ><i class="bx bx-plus"></i
            ></a>
            <a
              href="aboutx-details.html"
              class="details-link"
              title="More Details"
              ><i class="bx bx-link"></i
            ></a>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 aboutx-item filter-app">
          <img
            src="assets/img/aboutx/aboutx-3.jpg"
            class="img-fluid"
            alt=""
          />
          <div class="aboutx-info">
            <h4>App 2</h4>
            <p>App</p>
            <a
              href="assets/img/aboutx/aboutx-3.jpg"
              data-gallery="aboutxGallery"
              class="aboutx-lightbox preview-link"
              title="App 2"
              ><i class="bx bx-plus"></i
            ></a>
            <a
              href="aboutx-details.html"
              class="details-link"
              title="More Details"
              ><i class="bx bx-link"></i
            ></a>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 aboutx-item filter-card">
          <img
            src="assets/img/aboutx/aboutx-4.jpg"
            class="img-fluid"
            alt=""
          />
          <div class="aboutx-info">
            <h4>Card 2</h4>
            <p>Card</p>
            <a
              href="assets/img/aboutx/aboutx-4.jpg"
              data-gallery="aboutxGallery"
              class="aboutx-lightbox preview-link"
              title="Card 2"
              ><i class="bx bx-plus"></i
            ></a>
            <a
              href="aboutx-details.html"
              class="details-link"
              title="More Details"
              ><i class="bx bx-link"></i
            ></a>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 aboutx-item filter-web">
          <img
            src="assets/img/aboutx/aboutx-5.jpg"
            class="img-fluid"
            alt=""
          />
          <div class="aboutx-info">
            <h4>Web 2</h4>
            <p>Web</p>
            <a
              href="assets/img/aboutx/aboutx-5.jpg"
              data-gallery="aboutxGallery"
              class="aboutx-lightbox preview-link"
              title="Web 2"
              ><i class="bx bx-plus"></i
            ></a>
            <a
              href="aboutx-details.html"
              class="details-link"
              title="More Details"
              ><i class="bx bx-link"></i
            ></a>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 aboutx-item filter-app">
          <img
            src="assets/img/aboutx/aboutx-6.jpg"
            class="img-fluid"
            alt=""
          />
          <div class="aboutx-info">
            <h4>App 3</h4>
            <p>App</p>
            <a
              href="assets/img/aboutx/aboutx-6.jpg"
              data-gallery="aboutxGallery"
              class="aboutx-lightbox preview-link"
              title="App 3"
              ><i class="bx bx-plus"></i
            ></a>
            <a
              href="aboutx-details.html"
              class="details-link"
              title="More Details"
              ><i class="bx bx-link"></i
            ></a>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 aboutx-item filter-card">
          <img
            src="assets/img/aboutx/aboutx-7.jpg"
            class="img-fluid"
            alt=""
          />
          <div class="aboutx-info">
            <h4>Card 1</h4>
            <p>Card</p>
            <a
              href="assets/img/aboutx/aboutx-7.jpg"
              data-gallery="aboutxGallery"
              class="aboutx-lightbox preview-link"
              title="Card 1"
              ><i class="bx bx-plus"></i
            ></a>
            <a
              href="aboutx-details.html"
              class="details-link"
              title="More Details"
              ><i class="bx bx-link"></i
            ></a>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 aboutx-item filter-card">
          <img
            src="assets/img/aboutx/aboutx-8.jpg"
            class="img-fluid"
            alt=""
          />
          <div class="aboutx-info">
            <h4>Card 3</h4>
            <p>Card</p>
            <a
              href="assets/img/aboutx/aboutx-8.jpg"
              data-gallery="aboutxGallery"
              class="aboutx-lightbox preview-link"
              title="Card 3"
              ><i class="bx bx-plus"></i
            ></a>
            <a
              href="aboutx-details.html"
              class="details-link"
              title="More Details"
              ><i class="bx bx-link"></i
            ></a>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 aboutx-item filter-web">
          <img
            src="assets/img/aboutx/aboutx-9.jpg"
            class="img-fluid"
            alt=""
          />
          <div class="aboutx-info">
            <h4>Web 3</h4>
            <p>Web</p>
            <a
              href="assets/img/aboutx/aboutx-9.jpg"
              data-gallery="aboutxGallery"
              class="aboutx-lightbox preview-link"
              title="Web 3"
              ><i class="bx bx-plus"></i
            ></a>
            <a
              href="aboutx-details.html"
              class="details-link"
              title="More Details"
              ><i class="bx bx-link"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Portfolio Section -->
  