{% load wagtailcore_tags wagtailimages_tags static %}

<!--  -->

{% with image=page.cta_image title=page.cta_title descr=page.cta_descr cta_text=page.cta_text cta_link=page.cta_link %}
{% image image fill-1920x1200 as img %}

<!-- ======= Cta Section ======= -->
<section
  id="cta"
  class="cta"
  style="
background: linear-gradient(rgba(2, 2, 2, 0.5), rgba(0, 0, 0, 0.8)), {% if img %}url('{{img.url}}'){% else %}url('{% static "assets/img/hero-bg.png" %}'){% endif %}  center center;
background-size: cover;
padding: 60px 0;
"
>
  <div class="container">
    <div class="text-center">
      <h3>
        {% if title %}
        {{title}}
        {% else %}
        Scipio - Wagtail Marketing Template
        {% endif %}
      </h3>
      <p>
        {% if descr %}
        {{descr}}
        {% else %}
        Scipio stands out for its unparalleled customization options, offering content
        editors complete control over the website's content and presentation. Built on Python,
         Django, and Wagtail, it ensures a robust and flexible platform for modern marketing needs.
         {% endif %}
        </p>
      {% if cta_link %}
      <a class="cta-btn" href="{% pageurl cta_link %}"
        >{{page.cta_text}}</a
      >
      {% else %}
      <a class="cta-btn">
        {% if cta_text %}{{cta_text}}{% else %}Get Started{% endif %}
      </a>
      {% endif %}
    </div>
  </div>
</section>
<!-- End Cta Section -->
{% endwith %}