{% load wagtailcore_tags wagtailimages_tags static %}

<!-- ======= Hero Section ======= -->
{% image page.hero_image fill-1920x705 as hero_image %}
<section
  id="hero"
  style="
  width: 100%;
  height: 100vh;
  {% if hero_image %}
  background: url('{{hero_image.url}}') top center;
  {% else %}
  background: url({% static 'assets/img/hero-bg.png' %}) top center;
  {% endif %}

  background-size: cover;
  position: relative;
  "
>

{% with heading_one=page.hero_heading_one heading_two=page.hero_heading_two cta_link=page.hero_cta_link cta_text=page.hero_cta_text  %}
<div class="hero-container">
    

    <h2>
      {% if heading_one %}
      {{heading_one}}
      {% else %}
      Safeguarding The legacy of family businesses & Naturing the leaders of tomorrow
      {% endif %} <br>
      {% if heading_two %}
      {{heading_two}}
      {% else %}
      Nurturing thebusiness leadersof tomorrow
      {% endif %}

    </h2>
    <a
      href="{% if cta_link %}{% pageurl cta_link %}{% else %}#about{% endif %}"
      class="btn-get-started scrollto"
      >
        {% if cta_text %}{{cta_text}}{% else %}CALL TO ACTION{% endif %}
      </a
    >
  </div>
{% endwith %}
</section>
<!-- End Hero -->
