{% load wagtailcore_tags wagtailimages_tags static %}

<!-- Small devices -->
<section class="md:hidden">
    <div class="container">
      <h1
      class="text-center text-zinc-700 text-[55px] font-normal font-['Baskerville'] leading-[65px]"
    >
      {{strategy_page_content.title}}
    </h1>
    <p
    class="w-full text-zinc-700 text-[17px] font-normal font-['Gotham'] leading-relaxed">
  {% if strategy_page_content.introduction %}
  {{strategy_page_content.introduction}}
  {% else %}
  Take advantage of succession issues, Scipio invests in Search Funds
  and acquired growing, profitable and consolidated SMEs directly.
  {% endif %}
  
  </p>
  
  
      <div
        class="nav-scroller py-1 mb-6 mt-6 border-bottom"
        style="
          position: relative;
          z-index: 2;
          height: 2.75rem;
          overflow-y: hidden;
        "
      >
        <nav
          class="nav nav-underline justify-content-between"
          role="tablist"
          style="
            display: flex;
            flex-wrap: nowrap;
            padding-bottom: 1rem;
            margin-top: -1px;
            overflow-x: auto;
            text-align: center;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
          "
        >
        {% if strategy_page_content.tab_one_title %}
          <li class="nav-item nav-link link-body-emphasis" role="presentation">
            <button
              class="text-md font-normal font-['Baskerville']"
              id="strategy-tab-one"
              data-bs-toggle="tab"
              data-bs-target="#strategy-tab-one-content"
              type="button"
              role="tab"
              aria-controls="strategy-tab-one"
              aria-selected="true"
            >
              {{strategy_page_content.tab_one_title}}
            </button>
          </li>
          {% endif %}
  
          {% if strategy_page_content.tab_two_title %}
          <li class="nav-item nav-link link-body-emphasis" role="presentation">
            <button
              class="text-md font-normal font-['Baskerville']"
              id="strategy-tab-two"
              data-bs-toggle="tab"
              data-bs-target="#strategy-tab-two-content"
              type="button"
              role="tab"
              aria-controls="strategy-tab-one"
              aria-selected="false"
            >
              {{strategy_page_content.tab_two_title}}
            </button>
          </li>
          {% endif %}
  
          {% if strategy_page_content.tab_three_title %}
          <li class="nav-item nav-link link-body-emphasis" role="presentation">
            <button
              class="text-md font-normal font-['Baskerville']"
              id="strategy-tab-three"
              data-bs-toggle="tab"
              data-bs-target="#strategy-tab-three-content"
              type="button"
              role="tab"
              aria-controls="strategy-tab-three"
              aria-selected="false"
            >
              {{strategy_page_content.tab_three_title}}
            </button>
          </li>
          {% endif %}
  
          {% if strategy_page_content.tab_four_title %}
          <li class="nav-item nav-link link-body-emphasis" role="presentation">
            <button
              class="text-md font-normal font-['Baskerville']"
              id="strategy-tab-four"
              data-bs-toggle="tab"
              data-bs-target="#strategy-tab-four-content"
              type="button"
              role="tab"
              aria-controls="strategy-tab-four"
              aria-selected="false"
            >
              {{strategy_page_content.tab_four_title}}
            </button>
          </li>
          {% endif %}
  
      </nav>
      </div>
  
      <div class="tab-content" id="myTabContent">
        <!-- Start Tab -->
        <div
          class="tab-pane fade show active"
          id="strategy-tab-one-content"
          role="tabpanel"
          aria-labelledby="strategy-tab-one"
        >
          {{strategy_page_content.tab_one_content}}
        {% lorem 1 w random %}
          {% lorem 1 p random %}
           
      </div>
        <!-- Tab end -->
  
        <!-- Start Tab -->
        <div
          class="tab-pane fade show active"
          id="strategy-tab-two-content"
          role="tabpanel"
          aria-labelledby="strategy-tab-two"
        >
      {{strategy_page_content.tab_two_content}}
      </div>
        <!-- Tab end -->
        <!-- Start Tab -->
        <div
          class="tab-pane fade show active"
          id="strategy-tab-three-content"
          role="tabpanel"
          aria-labelledby="strategy-tab-three"
        >
      {{strategy_page_content.tab_three_content}}
      </div>
        <!-- Tab end -->
        <!-- Start Tab -->
        <div
          class="tab-pane fade show active"
          id="strategy-tab-four-content"
          role="tabpanel"
          aria-labelledby="strategy-tab-four"
        >
      {{strategy_page_content.tab_four_content}}
      </div>
        <!-- Tab end -->
  
        
  
      </div>
    </div>
  </section>
  
  