{% extends "base.html" %}

{% block header %}
{% include 'includes/sections/header/header.html' %}
{% endblock header %}

{% block content %}
{% include "includes/sections/strategy/strategy.html" with tab_one_title=page.tab_one_title tab_two_title=page.tab_two_title tab_three_title=page.tab_three_title tab_four_title=page.tab_four_title tab_one_content=page.tab_one_content tab_two_content=page.tab_two_content tab_three_content=page.tab_three_content tab_four_content=page.tab_four_content introduction=page.introduction title=page.title %}
{% endblock content %}


{% block footer %}
{% include "includes/footer.html" %}
{% endblock footer %}