{% load static wagtailcore_tags wagtailimages_tags %}

<!-- Small Screen Layout | About Scipio Holding Accordion -->
    <section id="faq" class="faq">
      <div class="container-fluid" data-aos="fade-up">
        <div class="row gy-4">
          <div
            class="col-lg-12 d-flex flex-column justify-content-center align-items-stretch order-2 order-lg-1"
          >
            <div class="content px-xl-5">

            
                {% if heading %}
                <h3 class="text-center mt-5">{{heading}}</h3>
                {% else %}
                <h3 class="text-center mt-5">About Scopio Holding</h3>
                {% endif %}
                       
            
            </div>
  

            <div class="accordion accordion-flush px-xl-5" id="faqlist">
            
                {% if tab_one_title %}
              <div class="accordion-item" data-aos="fade-up" data-aos-delay="200">
                <h3 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#{{tab_one_title|slugify}}"
                  >
                    {% comment %} <i class="bi bi-question-circle question-icon"></i> {% endcomment %}
                    {{tab_one_title|upper}}
                  </button>
                </h3>
                <div
                  id="{{tab_one_title|slugify}}"
                  class="accordion-collapse collapse"
                  data-bs-parent="#faqlist"
                >
                  <div class="accordion-body">
                    <div class="">
                        {% image about_image original as img %}
                      <img
                        src="{{img.url}}"
                        class="w-100 mb-4"
                        alt=""
                      />
                        {{body}}
                    </div>
                  </div>
                </div>
              </div>
              {% else %}
              <div class="accordion-item" data-aos="fade-up" data-aos-delay="200">
                <h3 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#faq-content-1"
                  >
                    <i class="bi bi-question-circle question-icon"></i>
                    OUR STORY
                  </button>
                </h3>
                <div
                  id="faq-content-1"
                  class="accordion-collapse collapse"
                  data-bs-parent="#faqlist"
                >
                  <div class="accordion-body">
                    <div class="">
                      <img
                        src="assets/img/our-story.png"
                        class="w-100 mb-4"
                        alt=""
                      />
  
                      <p style="color: #a88752">
                        Scipio was founded on the belief that investing in
                        talent-first is the best way to deliver sustained and
                        superior returns to investors.
                      </p>
  
                      <p>
                        We invest in talented business professionals and support
                        them as they search for a company to acquire and
                        subsequently run. Scipio is a serialacquirer of small and
                        medium-sized family-owned businesses. In this way, Scipio
                        takes advantage of the growing global trend SMEs that face
                        succession issues to acquire attractive assets at
                        extraordinary prices. Scipio invests globally based on the
                        idea that it seeks to invest in the best-talent wherever
                        they reside.
                      </p>
  
                      <p>
                        It has built a team of seasoned investors and operators so
                        that it counts on the skills and experience required to
                        support these talented individuals on their journey.
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              {% endif %}
              <!-- # Faq item-->
  
            {% if tab_two_title %}
            <div class="accordion-item" data-aos="fade-up" data-aos-delay="300">
                <h3 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#{{tab_two_title|slugify}}"
                  >
                    <i class="bi bi-question-circle question-icon"></i>
                    {{tab_two_title|upper}}
                  </button>
                </h3>
                <div
                  id="{{tab_two_title|slugify}}"
                  class="accordion-collapse collapse"
                  data-bs-parent="#faqlist"
                >
                  <div class="accordion-body">
                    <div class="container-fluid">
                      <div class="row">
                        <!-- First item -->
                        {% for member in members %}
                        {% image member.image original as member_photo %}

                        {% if forloop.first %}
                        {% include 'team/team-member-card-sm.html'  with first_item=forloop.first member=member    %}

                        {% else %}
                        {% include 'team/team-member-card-sm.html'  with first_item=forloop.first member=member    %}

                        {% endif %}
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            
            {% else %}
            <div class="accordion-item" data-aos="fade-up" data-aos-delay="300">
                <h3 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#faq-content-2"
                  >
                    <i class="bi bi-question-circle question-icon"></i>
                    OUR TEAM
                  </button>
                </h3>
                <div
                  id="faq-content-2"
                  class="accordion-collapse collapse"
                  data-bs-parent="#faqlist"
                >
                  <div class="accordion-body">
                    <div class="container-fluid">
                      <div class="row">
                        <!-- First item -->
                        <div class="col">
                          <button
                            class="display-modal-button"
                            type="button"
                            data-bs-toggle="modal"
                            data-bs-target="#profilemodal"
                          >
                            <div class="card" style="height: 250px">
                              <div class="text-center mt-3">
                                <img
                                  src="assets/img/about-img.jpg"
                                  class="rounded-circle"
                                  width="125px"
                                  alt=""
                                />
                              </div>
                              <div class="card-body">
                                <b style="color: #02839c">AITOR SANCHO</b>
                                <small class="">Managing Patner</small>
                                <div class="mt-3">
                                  <a href="">
                                    <img
                                      src="assets/img/icons/linkedin.svg"
                                      height="22px"
                                      alt=""
                                    />
                                  </a>
                                </div>
                              </div>
                            </div>
                          </button>
                        </div>
                        <!-- Add item -->
                        <div class="col">
                          <button
                            class="display-modal-button"
                            type="button"
                            data-bs-toggle="modal"
                            data-bs-target="#profilemodal"
                          >
                            <div class="card yellow-card" style="height: 250px">
                              <div class="text-center mt-3">
                                <img
                                  src="assets/img/about-img.jpg"
                                  class="rounded-circle"
                                  width="125px"
                                  alt=""
                                />
                              </div>
                              <div class="card-body">
                                <b style="color: #a88752">AITOR SANCHO</b>
                                <small class="">Managing Patner</small>
                                <div class="mt-3">
                                  <a href="">
                                    <img
                                      src="assets/img/icons/linkedin.svg"
                                      height="22px"
                                      alt=""
                                    />
                                  </a>
                                  <a href="">
                                    <img
                                      src="assets/img/icons/linkedin.svg"
                                      height="22px"
                                      alt=""
                                    />
                                  </a>
                                </div>
                              </div>
                            </div>
                          </button>
                        </div>
                        <!-- End item 2 -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            
            {% endif %}
              <!-- # Faq item-->
  
              {% if tab_three_title %}
              <div class="accordion-item" data-aos="fade-up" data-aos-delay="400">
                <h3 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#{{tab_three_title|slugify}}"
                  >
                    <i class="bi bi-question-circle question-icon"></i>
                    {{tab_three_title|upper}}
                  </button>
                </h3>
                <div
                  id="{{tab_three_title|slugify}}"
                  class="accordion-collapse collapse"
                  data-bs-parent="#faqlist"
                >
                  <div class="accordion-body">
                    <div class="">
                        <div class="row">
                          <!-- First item -->
                          {% for advisor in advisors %}
                          {% image advisor.image original as advisor_photo %}
                        {% include 'advisors/advisor-card-sm.html'  with  advisor=advisor %}                          
                          {% endfor %}
                          <!-- Add item -->
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              
              {% else %}
              <div class="accordion-item" data-aos="fade-up" data-aos-delay="400">
                <h3 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#faq-content-3"
                  >
                    <i class="bi bi-question-circle question-icon"></i>
                    OUR ADVISORS
                  </button>
                </h3>
                <div
                  id="faq-content-3"
                  class="accordion-collapse collapse"
                  data-bs-parent="#faqlist"
                >
                  <div class="accordion-body">
                    <div class="accordion-body">
                      <div class="container-fluid">
                        <div class="row">
                          <!-- First item -->
                          <div class="col">
                            <button
                              class="display-modal-button"
                              type="button"
                              data-bs-toggle="modal"
                              data-bs-target="#profilemodal"
                            >
                              <div class="card yellow-card" style="height: 250px">
                                <div class="text-center mt-3">
                                  <img
                                    src="assets/img/about-img.jpg"
                                    class="rounded-circle"
                                    width="125px"
                                    alt=""
                                  />
                                </div>
                                <div class="card-body">
                                  <b style="color: #a88752">AITOR SANCHO JAMES</b
                                  ><br />
                                  <small class="">Managing Patner</small>
                                  <div class="mt-2">
                                    <a href="">
                                      <img
                                        src="assets/img/icons/linkedin.svg"
                                        height="22px"
                                        alt=""
                                      />
                                    </a>
                                    <a href="">
                                      <img
                                        src="assets/img/icons/linkedin.svg"
                                        height="22px"
                                        alt=""
                                      />
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </button>
                          </div>
                          <!-- Add item -->
                          <div class="col">
                            <button
                              class="display-modal-button"
                              type="button"
                              data-bs-toggle="modal"
                              data-bs-target="#profilemodal"
                            >
                              <div class="card yellow-card" style="height: 250px">
                                <div class="text-center mt-3">
                                  <img
                                    src="assets/img/about-img.jpg"
                                    class="rounded-circle"
                                    width="125px"
                                    alt=""
                                  />
                                </div>
                                <div class="card-body">
                                  <b style="color: #a88752">AITOR SANCHO</b>
                                  <small class="">Managing Patner</small>
                                  <div class="mt-3">
                                    <a href="">
                                      <img
                                        src="assets/img/icons/linkedin.svg"
                                        height="22px"
                                        alt=""
                                      />
                                    </a>
                                    <a href="">
                                      <img
                                        src="assets/img/icons/linkedin.svg"
                                        height="22px"
                                        alt=""
                                      />
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </button>
                          </div>
                          <!-- End item 2 -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              {% endif %}
              <!-- # Faq item-->
            </div>
          </div>
        </div>
      </div>
  
      <!-- Profile Modal For Team Members and Advisors -->

      {% for member in members %}
      {% image member.image original as member_photo %}
      <div class="modal fade" id="{{member|slugify}}-sm" tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content" style="border-bottom: 8px solid #EFD9B5;">
            <div class="modal-header">
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="p-3">
                <div class="">
                  <div class="text-center">
                    <img
                      src="{{member_photo.url}}"
                      class="w-50"
                      alt=""
                    />
                  </div>
                  <div class="">
                    <div class="mr-4">
                      <h1>{{member|capfirst}}</h1>
                      <p style="color: #a88752">{{member.job_title|upper}}</p>
                      <p>
                        {{member.bio|safe}}
                      </p>
                      <a href="{{member.linkedin_url}}">
                        <img
                          src="{% static 'assets/img/icons/linkedin.svg' %}"
                          class="h-20"
                          alt=""
                        />
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      <!-- End Profile Modal-->


      {% for advisor in advisors %}
      {% image advisor.image original as advisor_photo %}
      <div class="modal fade" id="{{advisor|slugify}}-sm" tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content" style="border-bottom: 8px solid #EFD9B5;">
            <div class="modal-header">
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="p-3">
                <div class="">
                  <div class="text-center">
                    <img
                      src="{{advisor_photo.url}}"
                      class="w-50"
                      alt=""
                    />
                  </div>
                  <div class="">
                    <div class="mr-4">
                      <h1>{{advisor|capfirst}}</h1>
                      <p style="color: #a88752">{{advisor.role|upper}}</p>
                      <p>
                        {{advisor.bio|safe}}
                      </p>
                      <a href="{{advisor.linkedin_url}}">
                        <img
                          src="{% static 'assets/img/icons/linkedin.svg' %}"
                          class="h-20"
                          alt=""
                        />
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      <!-- End Profile Modal-->


    </section>
    <!-- End F.A.Q Section -->
  